<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Upland SPA</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/search">Home </a>
        </li>
      </ul>

      <div class="d-flex">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/search"
              ><i class="fas fa-thin fa-magnifying-glass"></i>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              ><i class="fas fa-user-tie"></i
            ></a>
            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" routerLink="/users"
                ><i class="fas fa-users-gear p-1"></i> Users</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/login">
                <i class="fas fa-thin fa-arrow-right-from-bracket p-1"></i>
                Logout</a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<router-outlet />
